# 后端业务接口地址
# 电脑本机调试可先用：
# VITE_API_BASE_URL=http://127.0.0.1:8000
#
# 如果要让手机访问，请改成“你电脑的局域网 IP”：
# 例如：
# VITE_API_BASE_URL=http://192.168.1.23:8000
VITE_API_BASE_URL=https://twice-dealers-armstrong-quotes.trycloudflare.com  
